/* Barra de navegacion */
/*Barra de hasta arriba*/
.navbar {
    padding: 2rem;
    background-color: #3b8686;
  }
  
  .navbar-collapse {
    align-items: center;
    justify-content: space-between;  
  }
  
  /* Estilos generales */
  
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 2.5rem;
    font-family: 'Rubik Dirt', cursive;
  }
  /* Desarrollo Web, Escuela, Otros */
  .seccion-clara {
    color: rgb(6, 82, 126);
    background-color: rgb(255, 255, 255);
  }

  .seccion-oscura {
    color: rgba(255, 255, 255, 0.959);
    background-color: #5b9c9c;
  }

  .seccion-descripcion {
    font-size: 1.2rem;
    color: #100575;
  }

  .texto-negro {
    color: #0b486b;
  }
  
  .texto-blanco {
    color: rgb(255, 253, 253);
  }
  
  /* Proyectos */
  
  .proyectos-recientes {
    padding: 40px;
  }
  
  .proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
  }
  
  .proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  
  .overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .proyecto {
    position: relative;
    display: table-caption;
    margin: 5px;
    width: 100%;
}

  .proyecto img {
    max-width: 100%; 
    height: auto;
    border-radius: 10px;
    margin-right: 10px; 
}

.proyecto p {
    flex:1; 
    width:fit-content;
    height: 100%;
    text-align: justify;
}
  
  .overlay .iconos-contenedor {
    display: flex;
  }
  
  .overlay i {
    color: rgb(29, 8, 145);
    font-size: 60px;
    margin: 10px;
  }

  /* Pie de pagina (footer) */
  
  footer {
    min-height: 500px;
  }
  
  .footer-logo {
    height: 80px;
    width: 80px;
    margin: 10px;
  }
  
  .footer-texto {
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
  }
  
  
  .derechos-de-autor {
    font-size: 15px;
    color: #e0dfdf;
    padding: 20px;
  }
  
  /* Adaptable (Responsivo) */
  
  @media screen and (max-width: 400px) {
    .overlay p {
      font-size: 18px;
    }
  
    .overlay i {
      font-size: 40px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .navbar-brand {
      display: none;
    }
  }
  
  @media screen and (max-width: 800px) {
    .testimonio-imagen {
      height: 120px;
      width: 120px;
    }
  
    .testimonio-texto {
      font-size: 18px;
    }
  }
  
  @media screen and (min-width: 700px) {
    .hero-inferior-imagen {
      max-width: 600px;
    }
  }